* {
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #a2a2a2;
}
canvas{
    background-color: aquamarine;
    border: 5px solid #FFF
}